#body{
    background-color:rgb(220, 255, 220);
    background-image: url("../img/background.jpeg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

}
#first-div{
    background-color: rgb(220, 255, 255,0.3); /* 半透明白色 */
    width: 100%; height: 100vh; /* 宽度100%，高度占满视口 */
    position: fixed; /* 固定定位，覆盖整个页面 */
    top: 0; left: 0; z-index: -999; /* 确保位于最上层 */
}
.login-input{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    right: 20px;
    outline: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}
.login-button{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    place-items: center; /* 等同于 justify-items: center 和 align-items: center */

    padding: 20px 40px;
    margin-top: 20px;
    background-color: rgb(250, 255,220);
    justify-content: center; /* 水平居中 */
    box-shadow: 0 0 1px rgba(0,0,0), inset 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    cursor: pointer;
}
.login-button:hover{
    background-color: rgb(150, 150, 220);
}
.login-button:active{
    background-color: rgb(150,150,150);
}
.login-button:disabled{
    cursor: not-allowed;
    background-color: rgb(50, 50,50);
}
#button-div1{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */

}
.login-label{
    font-size: 21px;
    color: Highlight;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}
.login{
    background-color: rgb(150, 255,220);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    border-color: royalblue;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    outline: 20px;
    outline-offset: 5px;
    justify-content: center; /* 水平居中 */
    width: 100vh;
    height:60vh;
    align-items: center; /* 垂直居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    max-width: 700px;
    max-height: 500px;
    opacity: 0;
    transition: opacity 0.5s;
}
#link{
    color: rgb(0, 0, 255);
    text-underline: rgb(0,0,255);
}
.aspect-ratio-less-1-5{
    background: rgb(175, 255,220);
}
.smaller{
    margin: 0 5px ;
    font-size: 15px;
}
.login-button2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.login-div{
    margin-top: 20px;
    margin-left: 20px;
    margin-outside: 20px;
}
.login-p{
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    outline-offset: -20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: Highlight;
}
.message-span{
    transition: color 0.3s;
    color: rgb(255,0,0,0);
}
.minecraft-text{
    font-family: "Minecraft Five v2", serif;
}
.normal-text{
    padding:0 20px;
    line-height: 30px;
}
#delete-text{
    color: rgb(150, 150, 150);
}

/* 基本导航栏样式 */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* 固定在顶部 */
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999; /* 确保菜单覆盖其他内容 */
}

/* 下拉按钮样式 */
.dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* 下拉菜单内容 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标悬停时显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

#have-prob{position: absolute;
    bottom: 10px;
    left: 10px;
}

.link{
    font-family: Arial, serif;
    font-style: italic;
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="checkbox"]:active{
    background-color: mediumblue;
}
input[type="checkbox"]:checked{
    background-color: blue;
}